/* ===== Table ===== */
table {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  width: 100%;
  gap: 10px;
}

tbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
  display: block;
  margin-bottom: 0.6rem;
  width: 45%;
}

table td {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

table th,
table td {
  padding: 0.6rem;
  text-align: center;
}

table td::before {
  content: attr(data-label);
  float: left;
  font-weight: bold;
  text-transform: uppercase;
}

table td:hover {
  background: #ffba08;
}

table td:last-child {
  border-bottom: 0;
}

table td:last-child:hover {
  background: none;
}

/* ===== /Table ===== */
@media screen and (max-width: 600px) {
  .index-header {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  tbody {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  table tr {
    width: 100%;
  }

  table td {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 425px) {
  .index-main-container {
    box-sizing: content-box;
  }

  .main-container {
    padding: 20px;
  }
}
