body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.grid-container {
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

.header {
  color: whitesmoke;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 40px;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .form-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    #search-bar {
      border-radius: 20px;
      text-align: center;
      height: 2rem;
    }

    button {
      border: none;
      background: none;
      color: whitesmoke;
    }

    button:hover {
      color: red;
    }
  }
}

#sidebar {
  color: whitesmoke;
  grid-area: sidebar;
  height: 100%;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  li {
    list-style: none;
  }

  .logo {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    width: 100px;
    height: 125px;
  }
}

.main-container {
  grid-area: main;
  padding: 40px 40px;
  background-image: linear-gradient(
      16deg,
      rgba(116, 116, 116, 0.02) 0%,
      rgba(116, 116, 116, 0.02) 25%,
      transparent 25%,
      transparent 96%,
      rgba(177, 177, 177, 0.02) 96%,
      rgba(177, 177, 177, 0.02) 100%
    ),
    linear-gradient(
      236deg,
      rgba(17, 17, 17, 0.041) 0%,
      rgba(123, 123, 123, 0.04) 53%,
      transparent 43%,
      transparent 49%,
      rgba(56, 56, 56, 0.02) 59%,
      rgba(45, 45, 45, 0.02) 100%
    ),
    linear-gradient(
      284deg,
      rgba(16, 16, 16, 0.02) 0%,
      rgba(16, 16, 16, 0.02) 46%,
      transparent 46%,
      transparent 71%,
      rgba(127, 127, 127, 0.02) 71%,
      rgba(75, 75, 75, 0.02) 100%
    ),
    linear-gradient(
      316deg,
      rgba(197, 197, 197, 0.02) 0%,
      rgba(197, 197, 197, 0.02) 26%,
      transparent 26%,
      transparent 49%,
      rgba(58, 58, 58, 0.02) 49%,
      rgba(40, 40, 40, 0.02) 100%
    ),
    linear-gradient(90deg, rgb(244, 243, 243), rgb(255, 255, 255));

  li {
    list-style: none;
  }
}
