body,
html {
    padding: 0px;
    margin: 0px;
}
body {
    height: 100vh;
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to left,
        #293f57,
        #243149
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to left,
        #283e58,
        #212d45
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}
.maincontainer {
    height: 100%;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #293f57;
    border-radius: 15px;
}
.leftbox {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 8px, rgba(0, 0, 0, 0.23) 0px 5px 8px;
    height: 60%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 2px;
}
.box {
    border-radius: 2px;
    height: 60%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.box input {
    width: 65%;
    height: 12%;
    border: 1px solid white;
    text-align: center;
    /*border-radius: 5px;*/
    border-bottom: 1px solid #3f4e69;
    color: #3f4e69;
}
.box input:hover {
}

.box input[type="text"],
textarea {
    background: white;
    background-image: none;
}
form a {
    text-decoration: none;
    color: #3f4e69;
    font-size: 15px;
    margin-top: 5px;
}
.box button {
    width: 20%;
    height: 10%;
    background-color: #516986;
    border: 1px solid #243b55;
    border-radius: 15px;
    font-size: 12px;
    color: white;
}

.rightbox {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 8px, rgba(0, 0, 0, 0.23) 0px 5px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 45%;
    background-color: #2e445e;
    border-radius: 2px;
}

.rightbox .centerbox {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rightbox .welcome {
    text-align: center;
    margin: 0px;
    font-size: 40px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.rightbox .welcome b {
    font-size: 45px;
    font-weight: 700;
}

.rightbox .welcometext {
    text-align: start;
    margin: 0px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 100%;
    font-weight: 200;
    text-decoration: none;
}
