
.user-link {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-link a {
    font-weight: bold;
    text-decoration: underline;
}

.user-link a:hover {
    color: #49701a;
}

.link {
    color: black;
}

.button-crud {
    display: flex;
    justify-content: center; /* Centrage horizontal des boutons */
    gap: 5px;
}

.button-crud a {
    display: inline-block;
    text-decoration: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s ease;
}

.button-crud a:hover {
    background-color: #e0e0e0;
}

@media screen and (max-width: 1250px) {
    .button-crud {
        display: flex;
        justify-content: center; /* Centrer horizontalement les boutons */
        gap: 5px;
        width: 100%;
    }

    .button-crud a {
        margin: 0; /* Supprimer la marge ajoutée par défaut */
    }
}

@media screen and (max-width: 650px) {
    .user-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .card-tr {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .button-crud {
        flex-wrap: wrap;
        justify-content: center;
    }

    .button-crud a {
        padding: 8px;
        font-size: 16px;
    }

    .index-main-container {
        box-sizing: content-box;
    }

    .main-container {
        padding: 20px;
    }
}
