.user-link {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-link a {
    font-weight: bold;
    text-decoration: underline;
}

.user-link a:hover {
    color: #49701a;
}

.link {
    color: black;
}


@media screen and (max-width: 650px) {
    .user-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .card-tr {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

    .index-main-container {
        box-sizing: content-box;
    }

    .main-container {
        padding: 20px;
    }
}
