/* ===== Main ===== */

.user-link {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-link a {
    font-weight: bold;
    text-decoration: underline;
}

.user-link a:hover {
    color: #49701a;
}

/* ===== /Main ===== */

/* ===== Button ===== */
.button-crud {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.modify,
.delete,
.see {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    color: #fff;
    font-size: 0.8rem;
    border: none;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    text-align: center;
    overflow: hidden;
}

.modify::before,
.delete::before,
.see::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}

.delete:hover,
.modify:hover,
.see:hover {
    color: #fff;
}

.delete:hover::before,
.modify:hover::before,
.see:hover::before {
    width: 100%;
}

.link {
    color: black;
}

.see {
    background-color: #649c25;
    box-shadow: #49701a 0 4px 0 0;
}

.see::before {
    background-color: #8adc33;
}

.modify {
    background-color: #283e58;
    box-shadow: #243149 0 4px 0 0;
}

.modify::before {
    background-color: #4e6183ff;
}

.delete {
    background-color: #93291e;
    box-shadow: #6c1f17ff 0 4px 0 0;
}

.delete::before {
    background-color: #bc3b35;
}

.modify,
.delete,
.see {
    width: 100%;
}

/* ===== /Button ===== */

@media screen and (max-width: 650px) {
    .user-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .card-tr {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .button-crud {
        flex-wrap: wrap;
        justify-content: center;
    }

    .button-crud a {
        padding: 8px;
        font-size: 16px;
    }

    .index-main-container {
        box-sizing: content-box;
    }

    .main-container {
        padding: 20px;
    }
}
