.content-container {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 100%;
  align-items: center;
  overflow: hidden; /* Ajouté pour éviter les débordements */
}

.formations {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15px;
  border-top: 1px solid #184999;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.formations ul {
  padding: 0;
  list-style: none;
}

.formation {
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 23%;
  margin: 1%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  box-sizing: border-box;
}

.formation li {
  height: auto;
  width: 100%;
}

.formation form {
  margin-top: auto;
  width: 100%;
}

.bouton-suppression {
  background-color: #b02a2a;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  margin-top: auto;
}
.bouton-suppression:hover {
  cursor: pointer;
}

.formation-container {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.formation-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.entree {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formation-container label {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.formation-container input,
select {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.entree-select {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 15px;
}
.entree-select select {
  cursor: pointer;
}

.bouton-enregistrer {
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
  background-color: #184999;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bouton-enregistrer:hover {
  background-color: #163a7d;
}
