/* ===== Main ===== */

.index-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
}

.index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.index-header h1 {
  text-align: center;
}

/* ===== /Main ===== */

/* ===== Button ===== */
.button-crud {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.add,
.modify,
.delete {
  position: relative;
  border-radius: 5px;
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: border-box;
  width: 150px;
  height: 25px;
  color: #fff;
  font-size: 0.8rem;
  border: none;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
}

.add::before,
.modify::before,
.delete::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}

.add:hover::before,
.delete:hover::before,
.modify:hover::before {
  width: 100%;
}

.add {
  background-color: #649c25;
  box-shadow: #49701a 0 4px 0 0;
}

.add::before {
  background-color: #8adc33;
}

.modify {
  background-color: #283e58;
  box-shadow: #243149 0 4px 0 0;
}

.modify::before {
  background-color: #4e6183ff;
}

.delete {
  background-color: #93291e;
  box-shadow: #6c1f17ff 0 4px 0 0;
}

.delete::before {
  background-color: #bc3b35;
}

.modify,
.delete {
  width: 100%;
}

/* ===== /Button ===== */

/* ===== Table ===== */
table {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  width: 100%;
  gap: 10px;
}

tbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
  display: block;
  margin-bottom: 0.6rem;
  width: 45%;
}

table td {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

table th,
table td {
  padding: 0.6rem;
  text-align: center;
}

table td::before {
  content: attr(data-label);
  float: left;
  font-weight: bold;
  text-transform: uppercase;
}

table td:hover {
  background: #ffba08;
}

table td:last-child {
  border-bottom: 0;
}

table td:last-child:hover {
  background: none;
}

/* ===== /Table ===== */
@media screen and (max-width: 600px) {
  .index-header {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .index-header h1 {
    margin-bottom: 10px;
  }

  tbody {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  table tr {
    width: 100%;
  }

  table td {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 425px) {
  .index-main-container {
    box-sizing: content-box;
  }

  .main-container {
    padding: 20px;
  }
}
