li {
  list-style-type: none;
}

.index-header {
  text-align: center;
  font-size: 1.5rem;
}

.profil-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.profil-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid black;
}

.profil-header-container h2 {
  font-size: 2rem;
  text-align: center;
}

.profil-header-container img {
  max-width: 75px;
  clip-path: ellipse(50% 50%);
}

.profil-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profil-main-container h3 {
  font-size: 1.5rem;
}

.profil-main-container ul {
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .profil-header-container {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
  }

  .profil-header-container img {
    z-index: 1;
  }
}

@media screen and (max-width: 605px) {
  .profil-header-container {
    gap: 10px;
  }

  .profil-header-container .index-header {
    font-size: 0.8rem;
  }

  .profil-header-container img {
    max-width: 50px;
  }

  .profil-main-container h3 {
    font-size: 1rem;
  }
}
